:root {
    --page-bg: #F8F9FA;
    --card-bg: #FFFFFF;
    --primary-text: #212529;
    --secondary-text: #6C757D;
    --accent: #0D6EFD;
    --completed-text: #6C757D;
    --destructive-action: #DC3545;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 1em;
    background-color: var(--page-bg);
}

@media screen and (min-width: 600px) {
    .todo-list {
        padding: 0em;
    }

    .todo-element {
        list-style-type: none;
        display: flex;
        flex-direction: row;
        border: 1px solid var(--primary-text);
        border-left: none;
        border-radius: 8px;
        margin-bottom: 0.5em;
        padding: 0em 1em 0em 0em;
        height: fit-content;
        transition: transform 45ms 0ms ease-in;

        &:hover {
            transform: scale(1.01)
        }
    }

    .todo-item-element {
        list-style-type: none;
        display: flex;
        flex-direction: row;
        border: 1px solid var(--primary-text);
        border-radius: 8px;
        margin-bottom: 0.5em;
        padding: 0em 1em;
        height: fit-content;
        transition: transform 45ms 0ms ease-in;

        &:hover {
            transform: scale(1.01)
        }
    }

    .new-todo {
        animation: new-todo 400ms 0ms ease-in forwards;
    }

    .remove-todo {
        animation: remove-todo 400ms 0ms ease-in forwards;
        transform-origin: top;
    }

    @keyframes new-todo {
        from {
            margin-left: -105%;
            margin-right: 105%;
        }

        to {
            margin-left: 0;
            margin-right: 0;
        }
    }

    @keyframes remove-todo {
        from {
            transform: rotateX(0deg);
        }

        to {
            transform: rotateX(-90deg);
        }
    }

    .todo-content {
        font-size: large;
        margin: 1em;
        align-content: center;
    }

    .todo-desc {
        width: 50%;
    }

    .todo-date {
        text-align: end;
        flex-grow: 1;
    }

    li>div.todo-status {
        width: 8px;
        border-radius: 8px;
    }

    li[status='completed']>div.todo-status {
        border-left: 8px solid lime;
    }

    li[status='new']>div.todo-status {
        border-left: 8px solid yellow;
    }

    li[status='completed']>h6.todo-desc {
        text-decoration: line-through;
    }

    .todo-actions {
        display: flex;
        flex-direction: row;
    }

    .todo-action-button {
        flex-grow: 1;
        padding: 0.25em 0.5em;
        border-radius: 8px;
        margin: 0.5em 0.25em;
        background-color: transparent;
        transition: background-color 0.1s ease, color 0.1s ease;

        &:hover {
            color: var(--card-bg);
            cursor: pointer;
        }
    }

    .todo-action-button-delete {
        color: var(--destructive-action);
        font-size: large;
        border: 1px solid var(--destructive-action);

        &:hover {
            background-color: var(--destructive-action);
        }
    }

    .todo-action-button-complete {
        color: lime;
        font-size: large;
        border: 1px solid lime;

        &:hover {
            background-color: lime;
        }
    }

    .header-div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: end;
        padding: 1em 0em;
    }

    #header-title {
        margin: 0;
        color: var(--primary-text);
    }

    #header-date {
        margin: 0;
        font-size: small;
        color: var(--secondary-text)
    }

    .new-todo-div {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 30px;
        border: 2px solid #CED4DA;
        border-radius: 4px;

        &:focus-within {
            border-color: var(--accent);
        }
    }

    #new-todo-input {
        padding: 8px;
        flex-grow: 1;
        border: none;
        border-radius: 4px;
        color: var(--primary-text);

        &:focus {
            outline: none;
        }

        &::placeholder {
            color: var(--secondary-text);
        }
    }

    #new-todo-date {
        border: none;
        border-radius: 4px;
        color: var(--secondary-text);
        text-align: center;

        &:focus {
            outline: none;
        }

        &::-webkit-calendar-picker-indicator {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            cursor: pointer;
            color: transparent;
            background: transparent;
        }
    }

    .date-input-wrapper {
        position: relative;
        display: flex;
    }

    #new-todo-input:focus~#new-todo-button,
    .date-input-wrapper:focus~#new-todo-button {
        color: var(--accent);
    }

    #new-todo-button {
        border: none;
        border-radius: 4px;
        background-color: var(--card-bg);
        color: #CED4DA;

        &:focus {
            color: var(--accent);
        }
    }

    #new-todo-div-error-wrapper {
        display: flex;
        flex-direction: column;
    }

    .new-todo-div-error {
        outline: 1px solid var(--destructive-action);

    }

    #new-todo-error-message {
        flex-shrink: 1;
        margin: 0;
        margin-top: 0.4em;
        font-size: smaller;
        color: var(--destructive-action);
    }
}

@media screen and (max-width: 599px) {
    .todo-list {
        padding: 0em;
    }

    .todo-element {
        display: flex;
        flex-direction: column;
        background-color: var(--card-bg);
        border-radius: 8px;
        transition: transform 45ms 0ms ease-in;
        margin-bottom: 0.5em;
    }

    .new-todo {
        animation: new-todo 400ms 0ms ease-in forwards;
    }

    .remove-todo {
        animation: remove-todo 400ms 0ms ease-in forwards;
        transform-origin: top;
    }

    @keyframes new-todo {
        from {
            margin-left: -105%;
            margin-right: 105%;
        }

        to {
            margin-left: 0;
            margin-right: 0;
        }
    }

    @keyframes remove-todo {
        from {
            transform: rotateX(0deg);
        }

        to {
            transform: rotateX(-90deg);
        }
    }

    .todo-content {
        font-size: large;
        margin: 1em;
        align-content: center;
    }

    .todo-desc {
        width: 50%;
        color: var(--primary-text);
    }

    .todo-date {
        color: var(--secondary-text);
        text-align: end;
        flex-grow: 1;
        font-size: smaller;
        font-weight: 200;
    }

    li>div.todo-status {
        transition: border-left 500ms 0ms ease-in;

        height: 8px;
        border-radius: 8px;
    }

    li[status='completed']>div.todo-status {
        border-top: 8px solid lime;
    }

    li[status='new']>div.todo-status {
        border-top: 8px solid yellow;
    }

    li[status='completed']>h6.todo-desc {
        text-decoration: line-through;
    }

    .todo-actions {
        display: flex;
        flex-direction: row;
        padding: 0em 0.5em;
    }

    .todo-action-button {
        padding: 0.25em 0.5em;
        border-radius: 8px;
        margin-bottom: 0.5em;
        background-color: transparent;
        transition: background-color 0.1s ease, color 0.1s ease;

    }

    .todo-action-button-delete {
        width: 15%;
        color: var(--destructive-action);
        font-size: large;
        border: 1px solid var(--destructive-action);
    }

    .todo-action-button-complete {
        flex-grow: 1;
        color: var(--accent);
        font-size: large;
        border: 1px solid var(--accent);
        margin-right: 0.25em;
    }

    .header-div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: end;
        padding: 1em 0em;
    }

    #header-title {
        margin: 0;
        color: var(--primary-text);
    }

    #header-date {
        margin: 0;
        font-size: small;
        color: var(--secondary-text)
    }

    .new-todo-div {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 30px;
        border: 2px solid #CED4DA;
        border-radius: 4px;

        &:focus-within {
            border-color: var(--accent);
        }
    }

    #new-todo-input {
        padding: 8px;
        flex-grow: 1;
        border: none;
        border-radius: 4px;
        color: var(--primary-text);

        &:focus {
            outline: none;
        }

        &::placeholder {
            color: var(--secondary-text);
        }
    }

    #new-todo-date {
        border: none;
        border-radius: 4px;
        color: var(--secondary-text);
        text-align: center;

        &:focus {
            outline: none;
        }

        &::-webkit-calendar-picker-indicator {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            cursor: pointer;
            color: transparent;
            background: transparent;
        }
    }

    .date-input-wrapper {
        position: relative;
        display: flex;
    }

    #new-todo-input:focus~#new-todo-button,
    .date-input-wrapper:focus~#new-todo-button,
    #new-todo-date::-webkit-calendar-picker-indicator:focus~#new-todo-button {
        color: var(--accent);
    }

    #new-todo-button {
        border: none;
        border-radius: 4px;
        background-color: var(--card-bg);
        color: #CED4DA;

        &:focus {
            color: var(--accent);
        }
    }

    #new-todo-div-error-wrapper {
        display: flex;
        flex-direction: column;
    }

    .new-todo-div-error {
        outline: 1px solid var(--destructive-action);

    }

    #new-todo-error-message {
        flex-shrink: 1;
        margin: 0;
        margin-top: 0.4em;
        font-size: smaller;
        color: var(--destructive-action);
    }
}